body {
  font-family: "Cabin", sans-serif;
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  color: #e46161;
  border: 10px solid #e46161;
  border-radius: 10% 10% 10% 10%;
  margin: 20px;
}

h1,
h3 {
  font-family: "Cabin", sans-serif;
}

h4 {
  text-transform: capitalize;
}

.search-bar {
  text-align: right;
  margin-right: 75px;
  padding: 20px;
}

.search-city {
  font-family: "Cabin" sans-serif;
  margin-top: 35px;
}

.city {
  padding: 50px;
  text-align: left;
}

.five-day {
  padding: 30px 5px;
  border-radius: 30% 30% 30% 30%;
}

.day {
  border: 3px solid #e46161;
  border-radius: 20% 20% 20% 20%;
  padding: 20px;
}

#F, #C {
  color: #e46161;
}