body {
  font-family: "Cabin", sans-serif;
  background: #f2f9f1;
  color: #5c715e;
}

h1,
h3 {
  font-family: "Cabin", sans-serif;
}

h4 {
  text-transform: capitalize;
}

.search-bar {
  text-align: right;
  margin-right: 75px;
  padding: 20px;
}

.search-city {
  font-family: "Cabin" sans-serif;
  margin-top: 35px;
}

.city {
  padding: 50px;
  margin-left: 50px;
}

.five-day {
  margin-left: 50px;
  padding: 30px 5px;
  border-radius: 30% 30% 30% 30%;
}

.day {
  border: 3px solid #5c715e;
  border-radius: 20% 20% 20% 20%;
  padding: 20px;
}

#F, #C {
  color: #5c715e;
}